{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Own css -->
    <link rel="stylesheet" href="{% static 'css/navbar-design.css' %}">
    <link rel="stylesheet" href="{% static 'css/content-design.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-design.css' %}">
    
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">CodeUstad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Məsələlər</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Haqqımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Axtarış" aria-label="Search">
            <button class="" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <ul class="navbar-nav mr-auto account-ul">
            <li class="nav-item ">
              <a class="nav-link" href="#">Daxil ol</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Qeydiyyat</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="navbar-place" ></div>

    {% block content %}
    {% endblock %}
    
      <!-- Footer -->
      <div class="footer-container">
        <div class="footer-content">
          <div class="content-common">
            <div class="header">ÜMUMİ</div>
            <a href="#">Haqqımızda</a>
            <a href="#">Bloq</a>
            <a href="#">Faydalı</a>
          </div>
          <div class="content-challenges">
            <div class="header">ÖZÜNÜ YOXLA</div>
            <a href="#">Çalışmalar</a>
            <a href="#">Testlər</a>
            <a href="#">Müsahibə Sualları</a>
            
          </div>
          <div class="content-contact">
            <div class="header">ƏLAQƏ</div>
              <span>Tel : +994 (55) 555 55 55 (Whatsapp)</span>
              <span>Email : info@codeustad.az</span>
          </div>
          <div class="content-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"> <i class="fab fa-telegram"></i></a>
            <a href="#"> <i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="footer-bottom">
          Copyright 2020 - CodeUstad
        </div>
      </div>


    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- FontAwesome JS-->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS" crossorigin="anonymous"></script> -->

</body>
</html>